@font-face {
  font-family: "GothamTitle";
  src: local("GoldmanBlack"),
   url("./fonts/Gotham/Gotham-Black.otf") format("truetype");

}
@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
   url("./fonts/Gotham/Gotham-Light.otf") format("truetype");

}
@font-face {
  font-family: "GothamBody";
  src: local("GoldmanMedium"),
   url("./fonts/Gotham/Gotham-Medium.otf") format("truetype");
}
  
body {
  margin: 0;
  font-family: "GothamBody";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(180deg, #533B53 0%, #977EA5 73.59%, #AF96C3 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
